<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>7105894620346497</sid>
    <event-sheet>Events menu</event-sheet>
    <size>
        <width>1280</width>
        <height>720</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="bkg" sid="620667818818671">
            <initially-visible>1</initially-visible>
            <background-color>228,235,232</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Sprite3" uid="38">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>643</x>
                        <y>101</y>
                        <z>0</z>
                        <width>1337.768554688</width>
                        <height>257.694793701</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Button" uid="207">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Fase>1</Fase>
                        <Atualizado>false</Atualizado>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>391</x>
                        <y>143</y>
                        <z>0</z>
                        <width>160</width>
                        <height>160</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Button" uid="13">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Fase>1</Fase>
                        <Atualizado>false</Atualizado>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1025</x>
                        <y>142</y>
                        <z>0</z>
                        <width>160</width>
                        <height>160</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite" uid="3">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>672</x>
                        <y>461</y>
                        <z>0</z>
                        <width>924.954711914</width>
                        <height>441.857330322</height>
                        <depth>0</depth>
                        <hotspotX>0.500187337</hotspotX>
                        <hotspotY>0.500392139</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="kelua" uid="22">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>73</x>
                        <y>69</y>
                        <z>0</z>
                        <width>100</width>
                        <height>100</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="play" uid="49">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>430</x>
                        <y>458</y>
                        <z>0</z>
                        <width>200</width>
                        <height>200</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Textos" sid="615099747093515">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Locked" uid="428">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>400</x>
                        <y>-73</y>
                        <z>0</z>
                        <width>50</width>
                        <height>50</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>-0.424362004</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="FontFases" uid="143">
                    <properties>
                        <character-width>14</character-width>
                        <character-height>16</character-height>
                        <character-set>!&quot;#$%&amp;&apos;()*+,-./0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ:;&lt;=&gt;?@[\]^_`abcdefghijklmnopqrstuvwxyz{|}~</character-set>
                        <text>1</text>
                        <scale>4</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Center</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>364</x>
                        <y>130</y>
                        <z>0</z>
                        <width>199</width>
                        <height>69</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="PlayerSprites" uid="14">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <players>1</players>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Pin" />
                        <behavior-instance type="Flash" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1028</x>
                        <y>162</y>
                        <z>0</z>
                        <width>39</width>
                        <height>48</height>
                        <depth>0</depth>
                        <hotspotX>0.512820542</hotspotX>
                        <hotspotY>1</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Up" uid="10">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>903</x>
                        <y>382</y>
                        <z>0</z>
                        <width>84</width>
                        <height>84</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Down" uid="29">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>906</x>
                        <y>541</y>
                        <z>0</z>
                        <width>84</width>
                        <height>84</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Texto" uid="31">
                    <properties>
                        <character-width>14</character-width>
                        <character-height>16</character-height>
                        <character-set>!&quot;#$%&amp;&apos;()*+,-./0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ:;&lt;=&gt;?@[\]^_`abcdefghijklmnopqrstuvwxyz{|}~</character-set>
                        <text>Level Select</text>
                        <scale>2</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>402</x>
                        <y>27</y>
                        <z>0</z>
                        <width>359</width>
                        <height>50</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Texto" uid="32">
                    <properties>
                        <character-width>14</character-width>
                        <character-height>16</character-height>
                        <character-set>!&quot;#$%&amp;&apos;()*+,-./0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ:;&lt;=&gt;?@[\]^_`abcdefghijklmnopqrstuvwxyz{|}~</character-set>
                        <text>Player Select</text>
                        <scale>2</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1029</x>
                        <y>21</y>
                        <z>0</z>
                        <width>404</width>
                        <height>50</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SprtRight" uid="33">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>991</x>
                        <y>463</y>
                        <z>0</z>
                        <width>84</width>
                        <height>84</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SprtLeft" uid="35">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>818</x>
                        <y>460</y>
                        <z>0</z>
                        <width>84</width>
                        <height>84</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Texto" uid="39">
                    <properties>
                        <character-width>14</character-width>
                        <character-height>16</character-height>
                        <character-set>!&quot;#$%&amp;&apos;()*+,-./0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ:;&lt;=&gt;?@[\]^_`abcdefghijklmnopqrstuvwxyz{|}~</character-set>
                        <text>START|ENTER</text>
                        <scale>3</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Center</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>617</x>
                        <y>763</y>
                        <z>0</z>
                        <width>470</width>
                        <height>50</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Texto" uid="37">
                    <properties>
                        <character-width>14</character-width>
                        <character-height>16</character-height>
                        <character-set>!&quot;#$%&amp;&apos;()*+,-./0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ:;&lt;=&gt;?@[\]^_`abcdefghijklmnopqrstuvwxyz{|}~</character-set>
                        <text>AWSD or arrow keys to move|P=Pause|M=Menu</text>
                        <scale>2</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>645</x>
                        <y>816</y>
                        <z>0</z>
                        <width>1224</width>
                        <height>50</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
